.verify-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #2A8348;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin-left: 2em;
    margin-bottom: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;*/
    padding-left: 1em;
    padding-right: 1em; 
  }

  .verify-btn:hover {

    background-color: #27aa52;

  }

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
  
.flex-container {
    width: 90%;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
}
  
.flex-child {
    background-color: transparent;
    flex: 5;
    margin: 0;
    padding: 0em 2em 0em 0em;
    text-align: left;
    -webkit-border-radius: 0px;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.flex-container-header {
    width: 90%;
    margin-top: 1em;
    display: flex;
    margin-right: 1em;
    padding-right: 0em;
}

.flex-child-header {
    background-color: whitesmoke;
    color: #2A8348;
    flex: 5;
    margin-right: 0em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    align-items: center;
    text-align: center;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.button{
    vertical-align: middle;
    margin-left: 0;
    margin-top: 2em;
    background-color: #708978;
}

label.active {
    color: #2A8348;
}

/* validation */

.flex-child i {
    margin-top: 10px;
    display: none;
}

.flex-child small {
    margin-left: 3px;
    display: none;
}

.flex-child.success i.fa-check-circle {
    display: inline-block;
}

.flex-child.success small {
    display: inline-block;
}

.flex-child.error i.fa-times-circle {
    display: inline-block;
    color: rgb(196, 40, 40);
}

.flex-child.error small {
    display: inline-block;
    color: rgb(196, 40, 40);
}

input.form-control:disabled {
    background-color: rgb(251, 251, 251);
    color: #2A8348;
}

.dashboard-header{
    color: whitesmoke;
    background-color: #2A8348;
    text-align: center;
}